$small-size: 30px;
$medium-size: 60px;
$big-size: 180px;
$max-size: 280px;

.service {
  padding: $small-size;
  padding-bottom: $medium-size;

  &__logo {
    background: #fff;
    padding: 14px;
    border-radius: 24px;
  }

  &__properties {
    display: flex;
    flex-wrap: wrap;
  }
}

.properties {
  &__title {
    flex-basis: 100%;
    margin: $small-size 0;
    font-size: 22px;
    line-height: 27px;
  }

  &__list+&__list {
    margin-top: $small-size;
  }

  &__item {
    display: flex;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    list-style-type: none;

    &+& {
      margin-top: 15px;
    }

    &::before {
      flex-shrink: 0;
      content: " ";
      margin-top: 12px;
      margin-right: 8px;
      background-color: #F0145A;
      width: 6px;
      height: 6px;
      border-radius: 50%;
    }

  }
}

.info {
  padding-bottom: $medium-size;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-bottom: 4px solid rgba(255, 255, 255, 0.5);

  &__title {
    margin-top: $small-size;
    font-size: 30px;
    line-height: 37px;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__description {
    margin-top: $small-size;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
  }
}

@media screen and (min-width: 768px) {
  .service {
    padding: $medium-size;

    &__info {
      padding-bottom: $medium-size;
    }

    &__properties {
      justify-content: space-between;
    }
  }

    .properties__list {
      flex-basis: calc(50% - 30px);

      & + & {
        margin-top: 0;
      }
    }
}

@media screen and (min-width: 1440px) {
  .service {
    padding: $medium-size $big-size;
  }
}


@media screen and (min-width: 1920px) {
  .service {
    padding: $medium-size $max-size;
  }
}