* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 0; }

a {
  text-decoration: none; }

.header, .header__contacts {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.header {
  width: 100%;
  flex-wrap: wrap;
  position: relative; }
  .header__contacts {
    flex-basis: 100%;
    padding: 10px 15px;
    background: rgba(255, 255, 255, 0.2); }
  .header__tel {
    flex-basis: content;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #fff; }
  .header__lang {
    padding: 5px 7px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    width: calc(1/3*100%);
    color: #fff;
    border-radius: 8px; }
    .header__lang:not(.header__lang-active):hover {
      background: rgba(255, 255, 255, 0.2); }
    .header__lang-active {
      background: #F0145A; }
  .header__address {
    display: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: #B3B3BA; }
  .header__facebook {
    display: none; }
  .header__logo {
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 10px; }

input[type="checkbox"] {
  display: none; }

.burger-nav {
  cursor: pointer;
  --size: 32px;
  display: block;
  width: var(--size);
  height: var(--size);
  position: relative;
  margin-right: 8px; }
  .burger-nav:active {
    background: #E6E6F0;
    border-radius: 8px; }
  .burger-nav__line {
    display: block;
    position: absolute;
    width: 18px;
    height: 2px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .burger-nav__line:first-child {
      transform: translate(-50%, calc(-50% - 5px)); }
    .burger-nav__line:last-child {
      transform: translate(-50%, calc(-50% + 5px)); }

.nav {
  width: 100%;
  height: 100vh;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
  background-color: rgba(50, 50, 100, 0.7);
  padding: 0 8px;
  top: 0; }
  .nav__list {
    position: absolute;
    width: calc(100% - 16px);
    bottom: 0;
    background: #ffffff;
    border-radius: 12px 12px 0px 0px;
    padding: 12px;
    list-style-type: none; }
  .nav__item + .nav__item {
    margin-top: 15px; }
  .nav__link {
    font-family: "Montserrat";
    padding: 7px 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #24a3ff;
    display: block;
    width: 100%;
    background: #f5f5fa;
    border-radius: 12px; }
    .nav__link:hover {
      background: #E6E6F0; }
  .nav__close-wrapp {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px; }
  .nav__close {
    cursor: pointer;
    --size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--size);
    height: var(--size); }

#burger-toggle:checked ~ .nav {
  animation: 1s burger-menu;
  opacity: 1;
  visibility: visible; }

@keyframes burger-menu {
  from {
    transform: translateY(-100%); }
  to {
    transform: translateY(0%); } }
@media screen and (min-width: 768px) {
  .header {
    align-items: flex-start;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 60px; }
    .header__contacts {
      flex-basis: content;
      background: transparent;
      padding: 0; }
    .header__tel::before, .header__tel::after {
      margin: 0 6px;
      content: "";
      display: inline-block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #E6E6F0;
      margin-bottom: 2px; }
    .header__address {
      display: block; }
      .header__address::before {
        margin: 0 6px;
        content: "";
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #E6E6F0;
        margin-bottom: 2px; }
    .header__facebook {
      display: block; }
      .header__facebook:hover path {
        fill: #F0145A; }
    .header__logo {
      margin: 30px 0; }
      .header__logo img {
        width: 130px; }

  .burger-nav {
    display: none; }

  .nav {
    background-color: transparent;
    width: fit-content;
    height: auto;
    position: relative;
    visibility: visible;
    opacity: 1;
    padding: 0; }
    .nav__close-wrapp {
      margin: 0;
      display: none; }
    .nav__list {
      display: flex;
      position: relative;
      width: auto;
      background: transparent;
      padding: 0; }
    .nav__item {
      margin: 0;
      padding: 0;
      border-bottom: 2px solid transparent; }
      .nav__item:hover {
        border-bottom: 2px solid #fff; }
    .nav__item + .nav__item {
      margin: 0;
      margin-left: 15px; }
    .nav__link {
      background: transparent;
      padding: 0;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      text-align: right;
      color: #FFFFFF; }
      .nav__link:hover {
        background: transparent; } }
@media screen and (min-width: 1024px) {
  .header {
    position: relative;
    align-items: flex-end;
    padding: 50px 60px 0; }
    .header__logo {
      margin: 0;
      top: 50px;
      left: 60px;
      position: absolute; }

  .nav {
    margin-top: 16px; } }
@media screen and (min-width: 1920px) {
  .header {
    padding: 50px 160px 0; }
    .header__logo {
      left: 160px; } }
.header__contacts {
  background: #F5F5FA; }
.header__tel {
  color: #B3B3BA; }
.header__lang:not(.header__lang-active) {
  color: #B3B3BA; }
.header__lang:not(.header__lang-active):hover {
  background: #F5F5FA; }
.header__title {
  color: #323264; }

.nav__link {
  color: #24A3FF; }

.burger-nav__line {
  background: #323264; }

@media screen and (min-width: 768px) {
  .header__contacts {
    background: transparent; }

  .nav__item:hover {
    border-bottom: 2px solid #24A3FF; } }
@media screen and (min-width: 1024px) {
  .header {
    position: relative;
    align-items: flex-end;
    padding: 50px 60px 0; }
    .header__logo {
      margin: 0;
      top: 50px;
      left: 60px;
      position: absolute; }
    .header__nav {
      margin-top: 16px; } }
@media screen and (min-width: 1920px) {
  .header {
    padding: 50px 160px 0; }
    .header__logo {
      left: 160px; } }
.header__logo {
  display: flex;
  justify-content: center; }
  .header__logo > .small-slash {
    margin: 0 4px; }
  .header__logo > .big-slash {
    display: none; }
  @media screen and (min-width: 768px) {
    .header__logo > .small-slash {
      display: none; }
    .header__logo > .big-slash {
      display: block;
      margin: 0 4px; } }
.header__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px; }
  @media screen and (min-width: 768px) {
    .header__title {
      font-size: 36px;
      line-height: 44px; } }

.nav__item-active {
  border-color: #F0145A; }
  .nav__item-active > .nav__link {
    color: #F0145A; }
  .nav__item-active:hover {
    border-color: #F0145A; }

.footer__address, .footer__contacts, .footer__copy {
  font-size: 16px;
  line-height: 20px; }

.footer, .footer__address, .footer__contacts {
  display: flex;
  align-items: center; }

.footer-background {
  background-color: #f5f5f5; }

.footer {
  flex-direction: column;
  margin: 0 30px;
  padding: 30px 0;
  border-top: 2px solid #E6E6F0; }
  .footer__address {
    flex-direction: column;
    font-weight: 400;
    color: #323264; }
    .footer__address_map {
      margin-top: 10px;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #24A3FF; }
  .footer__contacts {
    flex-direction: column;
    margin-top: 20px;
    font-weight: 700; }
  .footer__facebook:hover path {
    fill: #F0145A; }
  .footer__tel {
    margin: 10px 0;
    color: #46466E; }
  .footer__mail {
    color: #24A3FF; }
    .footer__mail:hover {
      color: #F0145A; }
  .footer__copy {
    margin-top: 30px;
    font-weight: 400;
    color: #B3B3BA; }

@media screen and (min-width: 768px) {
  .footer {
    margin: 0 60px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; }
    .footer__address {
      flex-direction: row;
      align-items: baseline;
      margin: 0; }
      .footer__address_map::before {
        margin: 0 10px;
        content: "";
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #B3B3BA;
        margin-bottom: 2px; }
    .footer__contacts {
      flex-direction: row;
      order: 1;
      flex-basis: 100%; }
    .footer__tel::before, .footer__tel::after {
      margin: 0 10px;
      content: "";
      display: inline-block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #B3B3BA;
      margin-bottom: 2px; }
    .footer__copy {
      margin: 0; } }
@media screen and (min-width: 1024px) {
  .footer {
    margin: 0 60px;
    padding: 30px 0; } }
@media screen and (min-width: 1920px) {
  .footer {
    margin: 0 160px;
    padding: 30px 0; } }
.footer-background {
  background-color: #f5f5f5; }

.footer {
  margin: 0;
  padding: 30px;
  border: 0; }

@media screen and (min-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; } }
@media screen and (min-width: 1024px) {
  .footer {
    padding: 30px 60px;
    flex-direction: row; } }
@media screen and (min-width: 1920px) {
  .footer {
    margin-top: 60px;
    padding: 30px 160px; } }
.teammates {
  margin: 30px 30px 60px; }
  .teammates__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; }
  .teammates__list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px; }
  .teammates__link {
    display: flex;
    flex-wrap: wrap;
    transition: all 0.3s linear; }
    .teammates__link:hover {
      transform: scale(1.2); }
      .teammates__link:hover .teammates__name {
        color: #F0145A; }
      .teammates__link:hover .teammates__button path {
        stroke: #F0145A; }
  .teammates__photo {
    width: 100%;
    border-radius: 12px; }
  .teammates__info {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 100%; }
  .teammates__name {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #323264; }
  .teammates__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #F5F5FA; }
  .teammates__position {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #B3B3BA;
    flex-basis: 100%; }
  .teammates__item + .teammates__item {
    margin-top: 30px; }

@media screen and (min-width: 768px) {
  .teammates {
    margin: 60px; }
    .teammates__title {
      font-size: 38px;
      line-height: 46px; }
    .teammates__list {
      margin-top: 60px;
      justify-content: space-between; }
    .teammates__item {
      flex-basis: calc((100% - 60px) / 2); }
      .teammates__item + .teammates__item {
        margin-top: 60px; }
      .teammates__item:nth-child(2) {
        margin-top: 0; }
    .teammates__photo {
      height: 400px;
      object-fit: cover; } }
@media screen and (min-width: 1024px) {
  .teammates__title {
    margin: 0 120px; }
  .teammates__item {
    flex-basis: calc((100% - 120px) / 3); }
    .teammates__item:nth-child(3) {
      margin-top: 0; } }
@media screen and (min-width: 1920px) {
  .teammates {
    margin: 60px 160px; } }

/*# sourceMappingURL=style.css.map */
